@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind CSS */
@layer base {
    body {
        @apply bg-gradient-to-t from-black to-slate-950 min-h-screen;
        font-family: 'Rajdhani', sans-serif;
    }
}


/* Custom CSS */
