@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind CSS */
@layer base {
    body {
        @apply bg-gradient-to-b from-slate-950 to-black min-h-screen;
        @apply select-none;
        @apply scrollbar-thin scrollbar-thumb-teal-600 scrollbar-track-slate-950;
        font-family: 'Rajdhani', sans-serif;
    }
    code {
        @apply text-base;
    }
    main {
        @apply pb-32;
    }
    hr {
        @apply h-px my-16 bg-gray-200 border-0 dark:bg-gray-700;
    }
    ol {
        @apply list-decimal w-[88%] mx-auto pt-4;
    }
}


/* Custom CSS */
